In [ ]:
import pandas as pd
import geopandas as gpd
import plotly.express as px
import plotly.graph_objects as go
from jupyter_dash import JupyterDash
from dash import Dash, dcc, html, Input, Output, callback_context

In [2]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)

depts = gpd.read_file('departements-version-simplifiee.geojson')

names = depts.merge(names, how='left', left_on='code', right_on='dpt')

names = names.dropna()
names["annais"] = pd.to_numeric(names["annais"])
names["preusuel"] = names["preusuel"].astype("string")

names

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2005,01,3.0
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2007,01,4.0
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2008,01,6.0
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2009,01,7.0
4,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2010,01,8.0
...,...,...,...,...,...,...,...,...
3446640,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOHRA,2020,95,4.0
3446641,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZORA,1978,95,3.0
3446642,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOUBIDA,1984,95,3.0
3446643,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOYA,2013,95,3.0
3446644,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOYA,2016,95,5.0

In [3]:
# grouped = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False).sum()
# grouped = depts.merge(grouped, how='right', left_on='code', right_on='dpt') # Add geometry data back in
# grouped

,code,nom,geometry,dpt,preusuel,sexe,annais,nombre
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,AARON,1.0,30194,160.0
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABBY,2.0,2008,3.0
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDALLAH,1.0,4030,7.0
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDEL,1.0,1967,3.0
4,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDELKADER,1.0,1965,3.0
...,...,...,...,...,...,...,...,...
224722,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",95,ÉRIC,1.0,3939,7.0
224723,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",95,ÉTHAN,1.0,6055,14.0
224724,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",95,ÉVA,2.0,14114,36.0
224725,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",95,ÉVAN,1.0,2019,4.0
224726,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",95,ÖMER,1.0,4028,8.0

In [4]:
# names['ratio'] = names.nombre/grouped.groupby('dpt').nombre.transform('sum')*100_000_000
# # names = names.dropna()
# names

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre,ratio
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2005,01,3.0,687.267904
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2007,01,4.0,916.357205
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2008,01,6.0,1374.535808
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2009,01,7.0,1603.625109
4,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",1.0,AARON,2010,01,8.0,1832.714410
...,...,...,...,...,...,...,...,...,...
3446640,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOHRA,2020,95,4.0,NaN
3446641,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZORA,1978,95,3.0,NaN
3446642,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOUBIDA,1984,95,3.0,NaN
3446643,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOYA,2013,95,3.0,NaN
3446644,95,Val-d'Oise,"POLYGON ((2.59052 49.07965, 2.57203 49.06149, ...",2.0,ZOYA,2016,95,5.0,NaN

In [5]:
app = JupyterDash()

app.layout = html.Div([

    html.Div([
        dcc.Graph(id='our_graph')
    ],className='nine columns'),

    html.Div([
        html.Br(),
        html.Div(id='output_data'),
        html.Br(),
        html.Label(['Prénom:'],style={'font-weight': 'bold', "text-align": "center"}),

        dcc.Input(id='my_searchbar', type="text", placeholder="", debounce=True),
        html.Button('OK', id='submit-val', n_clicks=0),
        html.Div(id='container-button-basic',
                children='Sexe : '),
        html.Button('F', id='btn-nclicks-1', n_clicks=0),
        html.Button('M', id='btn-nclicks-2', n_clicks=0),
        html.Button('F+M', id='btn-nclicks-3', n_clicks=0),
        html.Div(id='container-button-timestamp')
    ],className='three columns'),

])

@app.callback(
    Output(component_id='our_graph', component_property='figure'),
    [Input(component_id='my_searchbar', component_property='value'),
    Input('btn-nclicks-1', 'n_clicks'),
    Input('btn-nclicks-2', 'n_clicks'),
    Input('btn-nclicks-3', 'n_clicks')]
)

def build_graph(column_chosen, btn1, btn2, btn3):
    dff = names.copy()

    if column_chosen is not None :
        dff = dff[dff["preusuel"] == column_chosen.upper()]
        print(column_chosen.upper())

    changed_id = [p['prop_id'] for p in callback_context.triggered][0]
    if 'btn-nclicks-1' in changed_id:
        dff = dff[dff["sexe"] == 2]
        print("F")
    elif 'btn-nclicks-2' in changed_id:
        dff = dff[dff["sexe"] == 1]
        print("H")
    elif 'btn-nclicks-3' in changed_id:
        dff = dff
        print("F+H")
    
    fig=px.choropleth(dff,
                geojson=depts,
                featureidkey='properties.code',
                locations='code',
                animation_frame='annais',
                color='ratio',
                # color='nombre',
                color_continuous_scale='Inferno',
                hover_data=['annais'],
                projection="mercator",
                title='Births',
                # range_color=[0, 6400]
                height=1000,
                width=1000
                )
    fig.update_geos(fitbounds="locations", visible=True)
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    return fig

In [6]:
app.run_server(host='127.0.0.1', port=8040, mode='inline', debug=False)

 * Running on http://127.0.0.1:8040/ (Press CTRL+C to quit)
127.0.0.1 - - [17/Jun/2022 16:18:32] "GET /_alive_014bdc58-dd9c-4d1f-854b-579f31dae980 HTTP/1.1" 200 -

127.0.0.1 - - [17/Jun/2022 16:18:32] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [17/Jun/2022 16:18:32] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [17/Jun/2022 16:18:32] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [17/Jun/2022 16:18:32] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [17/Jun/2022 16:18:32] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

CAMILLE

127.0.0.1 - - [17/Jun/2022 16:19:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [17/Jun/2022 16:19:50] "POST /_dash-update-component HTTP/1.1" 200 -